body	 { background-color: #FFFFFF;
	   color: #003366;
	   font-family: Verdana, Arial; }
h1	 { background-color: #003366;
       background-image: url(fishcreeklogo.gif);
       background-repeat: no-repeat;
       background-position: center;
       text-align: center;
	   color: #F0F0F0;
	   font-family: Georgia, Times;
	   line-height: 250%;
	   text-indent: 1em;
	   margin-bottom: 0; }
nav	 { background-color: #5280C5;
       font-weight: bold;
       text-align: center;
       color: #5280C5;
       padding: 5px; }
main { padding-left: 10px;
       padding-right: 10px; }
dt	 { color: #5280C5;
	   font-size: 1.1em;
	   font-weight: bold;
	   font-family: Georgia, Times; }
.category { color: #5380C5;
       text-shadow: 1px 1px 1px #667;
	   font-weight: bold;
       font-family: Georgia, Times; }
footer	 { background-color: #AEC3E3;
       font-size: .70em;
       text-align: center;
	   font-style: italic; }
footer nav { background-color: #F0F0F0; }
#wrapper { width: 80%;
	   margin-right: auto;
	   margin-left: auto;
       background-color: #F0F0F0;
       min-width: 700px; }
img  { border-style: none; }
