*   { box-sizing: border-box; }
body	 { background-color: #FFFFFF;
    color: #000000;
    background-image: url(gradientblue.jpg);
    font-family: Verdana, Arial; }
h1	 { background-color: #000066;
    background-image: url(bigfish.gif);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #F0F0F0;
    font-size: 3em;
    font-weight: bold;
    padding: 0.2em;
    text-shadow: #CCCCCC;
    line-height: 250%;
    text-indent: 1em;
    margin-bottom: 0; }
nav	 { float: left;
    width: 180px;
    font-weight: bold;
    color: #5280C5;
    padding: 5px; }
nav ul { list-style-type: none; }
nav a { text-decoration: none;
        padding-right: 10px; }
nav a:link { color: #000066;}
nav a:visited { color: #5280C5; }
nav a:hover { color: #3262A3; }
main { margin-left: 180px;
    margin-top: 0;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #AEC3E3; }
dt	 { color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, Times; }
.category { color: #5380C5;
    text-shadow: 1px 1px 1px #667;
    font-weight: bold;
    font-family: Georgia, Times; }
footer	 { background-color: #AEC3E3;
    font-size: .70em;
    color: #000000;
    text-align: center;
    font-style: italic;
    padding: 1em;
    margin-left: 180px; }
#wrapper { width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;
    min-width: 700px; }
img  { border-style: none; }
header, nav, main, footer {display: block; }
